<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/2560px-Marvel_Logo.svg.png" class="logo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">AlgarTech Marvel API Example</a>
        </li>
      </ul>
      <ul class="navbar-nav">
      </ul>
      <div class="dropdown">
        <i class="bi bi-gear-fill" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <div class="form-check form-switch d-flex justify-content-center">
              <label class="form-check-label mx-1" for="flexSwitchCheckDefault">Dark Mode</label>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="themeChange()"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>